.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.oldbrand {
  color: white;
  font-size: 36pt;
  font-family: 'VT323', monospace;
}

.rebrand { 
  animation: color-change 3s infinite;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

@keyframes color-change {
  0% { color: #217AEB; }
  50% { color: #EC2F02; }
  100% { color: #55A94A; }
}

.rebrand-input {
  background: none;
  border: 2px dashed white;
  text-align: center;
  padding: 4px;
  font-size: 36pt;
  font-family: 'VT323', monospace;
  color: white;
  margin-bottom: 10px;
}
