
body {
  background: #000022;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}
